﻿@using Microsoft.AspNet.Identity
@model IEnumerable<ProjetoEmpresaDasAguasAspNet.Models.Consumo>

@{
    ViewBag.Title = "Consumos";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "Consumos", FormMethod.Get))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Procurar por Cliente", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.DropDownList("searchClient", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-5">
                            <input type="submit" value="Procurar" class="btn btn-blue" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


<div class="row">
    <div class="col-md-3">@Html.Partial("_MenuPrivado")</div>
    <div class="col-md-9">
        <h3 class="text-danger">@TempData["Error"]</h3>

        <p>
            @Html.ActionLink("Criar Novo Consumo", "Create", null, htmlAttributes: new { @class = "btn btn-blue" })
        </p>
        <table id="tabela" class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Faturado)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Faturado)
                    </td>
                    <td>
                        @if (User.IsInRole("Consumos Edit"))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdConsumo }, htmlAttributes: new { @class = "btn btn-blue" })
                            ;
                        }
                        @if (User.IsInRole("Consumos Delete"))
                        {
                            @Html.ActionLink("Apagar", "Delete", new { id = item.IdConsumo }, htmlAttributes: new { @class = "btn btn-blue" })
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function() {
        $('#tabela').DataTable( {
            paging:   false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [3] },
                { orderable: false, targets: [4] }
            ]
        } );
    } );
</script>


