﻿@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title</h2>
<h3>Desenvolvido por:</h3>

<address>
    <strong>Paulo Félix:</strong>   <a href="mailto:16339@formandos.cinel.pt">16339@formandos.cinel.pt</a><br />
</address>