﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="carousel-center-60">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/Image1.jpg" alt="Agua 1" style="width: 100%;">
                </div>

                <div class="item">
                    <img src="~/Content/Images/Image2.jpg" alt="Agua 2" style="width: 100%;">
                </div>

                <div class="item">
                    <img src="~/Content/Images/Image3.jpg" alt="Agua 3" style="width: 100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Empresa das águas</h2>
        <p>
            Plataforma para gestão e consulta dos seus dados...
        </p>
    </div>
</div>