﻿@model IEnumerable<ProjetoEmpresaDasAguasAspNet.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Lista de utilizadores";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <p>
            @Html.ActionLink("Criar nova conta de login", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-blue", id = "registerLink" })
        </p>
        <table id="tabela" class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoConta)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoConta)
                        </td>
                        <td>
                            @Html.ActionLink("Apagar", "Delete", "Users", new { userId = item.UserId }, htmlAttributes: new { @class = "btn btn-blue" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [3] }
            ]
        });
    });
</script>
