﻿@model IEnumerable<ProjetoEmpresaDasAguasAspNet.Models.Escalao>

@{
    ViewBag.Title = "Escalões";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <p>
            @Html.ActionLink("Criar Novo Escalão", "Create", null, htmlAttributes: new { @class = "btn btn-blue" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Minimo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorUnitario)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Minimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdEscalao }, htmlAttributes: new { @class = "btn btn-blue" })
                    @Html.ActionLink("Apagar", "Delete", new { id = item.IdEscalao }, htmlAttributes: new { @class = "btn btn-blue" })
                </td>
            </tr>
    }

        </table>
    </div>
</div>
