﻿@model ProjetoEmpresaDasAguasAspNet.Models.FaturaDetalhe
@{
    ViewBag.Title = "Adicionar Consumo";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.IdConsumo, "Consumo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdConsumo", null, "Selecione uma data", htmlAttributes: new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.IdConsumo, "", new { @class = "text-danger" })*@
                        <div class="text-danger">
                            @ViewBag.ErrorData
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Iva, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Iva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Iva, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" value="Adiciona Produto" class="btn btn-blue" />
                @Html.ActionLink("Voltar", "Create", null, htmlAttributes: new { @class = "btn btn-blue" })
            </div>
        }
    </div>
</div>

<script>
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || !isNaN(Globalize.parseFloat(value));
    }

    $(document).ready(function () {

        Globalize.culture('@(System.Threading.Thread.CurrentThread.CurrentCulture.Name)');
    });
</script>
