﻿@model ProjetoEmpresaDasAguasAspNet.ViewModels.FaturaView

@{
    ViewBag.Title = "Criar Nova Fatura";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <h3>@ViewBag.Mensagem</h3>

        @using (Html.BeginForm("AdicionarConsumo", "Faturas", FormMethod.Get))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Cliente.IdCliente, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cliente.IdCliente, "", new { @class = "text-danger" })
                        <div class="text-danger">
                            @ViewBag.ErrorIdCliente
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <input type="submit" value="Adiciona Consumo" id="AdicionarConsumo" class="btn btn-blue" />
            </div>
        }

        @using (Html.BeginForm("Create", "Faturas", FormMethod.Post))
        {
            <h2>Detalhes da Fatura</h2>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FaturaDetalhe.IdConsumo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FaturaDetalhe.Contagem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FaturaDetalhe.SubTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FaturaDetalhe.Iva)
                    </th>
                    <th></th>
                </tr>

                @for (int i = 0; i < Model.FaturaDetalhes.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.FaturaDetalhes[i].IdConsumo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.FaturaDetalhes[i].Contagem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.FaturaDetalhes[i].SubTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.FaturaDetalhes[i].Iva)
                        </td>
                        <td>
                            @Html.ActionLink("Apagar", "DeleteFaturaDetalhe", new { idxFaturaDetalhe = i }, htmlAttributes: new { @class = "btn btn-blue" })
                        </td>
                    </tr>
                }

            </table>
            <br />
            <div class="text-danger">
                @ViewBag.ErrorDetalhes
            </div>
            <br />
            <input type="submit" value="Emitir fatura" id="EmitirFatura" class="btn btn-blue" />
            @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-blue" })
        }
    </div>
</div>

<script>
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || !isNaN(Globalize.parseFloat(value));
    }

    $(document).ready(function () {

        Globalize.culture('@(System.Threading.Thread.CurrentThread.CurrentCulture.Name)');
    });
</script>