﻿@model ProjetoEmpresaDasAguasAspNet.Models.FaturaDetalhe

@{
    ViewBag.Title = "Apagar detalhe de fatura";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <h3>Tem a certeza que pertende apagar o consumo da fatura?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Contagem)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contagem)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Iva)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Iva)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SubTotal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SubTotal)
                </dd>

            </dl>

            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-blue" />
                @Html.ActionLink("Voltar", "Create", null, htmlAttributes: new { @class = "btn btn-blue" })
            </div>
    }
        </div>
    </div>
</div>