﻿@model ProjetoEmpresaDasAguasAspNet.ViewModels.FaturaView

@{
    ViewBag.Title = "Detalhes da Fatura";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>Detalhes da Fatura @Model.FaturaDetalhes[0].IdFatura</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => Model.Cliente.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cliente.Morada)
                </dt>
                <dd>
                    @Html.DisplayFor(model => Model.Cliente.Morada)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cliente.CodPostal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => Model.Cliente.CodPostal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cliente.Nif)
                </dt>
                <dd>
                    @Html.DisplayFor(model => Model.Cliente.Nif)
                </dd>
            </dl>
        </div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FaturaDetalhe.Contagem)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FaturaDetalhe.Iva)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FaturaDetalhe.SubTotal)
                </th>
            </tr>

            @foreach (var item in Model.FaturaDetalhes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Contagem)
                </td>

                <td>
                    @Html.DisplayFor(model => item.Iva)
                </td>

                <td>
                    @Html.DisplayFor(model => item.SubTotal)
                </td>
            </tr>
    }
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-blue" })
        </p>
    </div>
</div>