﻿@model IEnumerable<ProjetoEmpresaDasAguasAspNet.Models.Fatura>

@{
    ViewBag.Title = "Faturas";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>Faturas</h2></div>
</div>


    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "Faturas", FormMethod.Get))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Procurar por Cliente", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.DropDownList("searchClient", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-5">
                            <input type="submit" value="Procurar" class="btn btn-blue" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">

        <h3>@ViewBag.Mensagem</h3>

        <p>
            @if (User.IsInRole("Faturas Create"))
            {
                @Html.ActionLink("Nova Fatura", "Create", null, htmlAttributes: new { @class = "btn btn-blue" })
            }
        </p>
        <table id="tabela" class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdFatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdFatura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Faturadetalhe", new { id = item.IdFatura }, htmlAttributes: new { @class = "btn btn-blue" })
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [3] }
            ]
        });
    });
</script>
