﻿@using System.Activities.Statements
@using ProjetoEmpresaDasAguasAspNet.Models
@model ProjetoEmpresaDasAguasAspNet.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>



<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <div class="k-content">
            @(Html.Kendo().Chart(Model.Faturas)
                          .Name("Fatuuras")
                          .Title("Faturação")
                          .Legend(legend => legend
                              .Position(ChartLegendPosition.Bottom)
                              .Visible(false)
                          )
                          .ChartArea(chartArea => chartArea.Height(400)
                              .Background("transparent")
                          )
                          .SeriesDefaults(seriesDefaults =>
                              seriesDefaults.Line().Style(ChartLineStyle.Smooth)
                          )
                          .Series(series =>
                          {
                              series.Line(model => model.Total).Name("Faturação");
                          })
                          .CategoryAxis(axis => axis
                              .Categories(model => model.Data)
                              .MajorGridLines(lines => lines.Visible(false))
                          )
                          .ValueAxis(axis => axis
                              .Numeric().Labels(labels => labels.Format("{0:N2} €"))
                              .Line(line => line.Visible(false))
                              .AxisCrossingValue(0)
                          )
                          .Tooltip(tooltip => tooltip
                              .Visible(true)
                          )
            )
            @(Html.Kendo().Chart(Model.Consumos)
                          .Name("Consumo")
                          .Title("Consumos")
                          .Legend(legend => legend
                              .Position(ChartLegendPosition.Bottom)
                              .Visible(false)
                          )
                          .ChartArea(chartArea => chartArea.Height(400)
                              .Background("transparent")
                          )
                          .SeriesDefaults(seriesDefaults =>
                              seriesDefaults.Line().Style(ChartLineStyle.Smooth)
                          )
                          .Series(series =>
                          {
                              series.Line(model => model.Contagem).Name("Consumos");
                          })
                          .CategoryAxis(axis => axis
                              .Categories(model => model.Data)
                              .MajorGridLines(lines => lines.Visible(false))
                          )
                          .ValueAxis(axis => axis
                              .Numeric().Labels(labels => labels.Format("{0}"))
                              .Line(line => line.Visible(false))
                              .AxisCrossingValue(0)
                          )
                          .Tooltip(tooltip => tooltip
                              .Visible(true)
                          )
            )
        </div>
    </div>
</div>








