﻿
/* MENU */

/* https://work.smarchal.com/twbscolor/3.3.7/css/121f274162756191a8bbcfda1 */

.navbar {
    background-color: #121f27;
    border-color: #121f27;
}

    .navbar .navbar-brand {
        color: #6191a8;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus {
            color: #bbcfda;
        }

    .navbar .navbar-text {
        color: #6191a8;
    }

    .navbar .navbar-nav > li > a {
        color: #6191a8;
    }

        .navbar .navbar-nav > li > a:hover,
        .navbar .navbar-nav > li > a:focus {
            color: #bbcfda;
        }

    .navbar .navbar-nav > li > .dropdown-menu {
        background-color: #121f27;
    }

        .navbar .navbar-nav > li > .dropdown-menu > li > a {
            color: #6191a8;
        }

            .navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #bbcfda;
                background-color: #416275;
            }

        .navbar .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #416275;
        }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #bbcfda;
        background-color: #416275;
    }

    .navbar .navbar-nav > .active > a,
    .navbar .navbar-nav > .active > a:hover,
    .navbar .navbar-nav > .active > a:focus {
        color: #bbcfda;
        background-color: #416275;
    }

    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:hover,
    .navbar .navbar-nav > .open > a:focus {
        color: #bbcfda;
        background-color: #416275;
    }

    .navbar .navbar-toggle {
        border-color: #416275;
    }

        .navbar .navbar-toggle:hover,
        .navbar .navbar-toggle:focus {
            background-color: #416275;
        }

        .navbar .navbar-toggle .icon-bar {
            background-color: #6191a8;
        }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border-color: #6191a8;
    }

    .navbar .navbar-link {
        color: #6191a8;
    }

        .navbar .navbar-link:hover {
            color: #bbcfda;
        }

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #6191a8;
    }

        .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #bbcfda;
        }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #bbcfda;
        background-color: #416275;
    }
}

/* FOOTER */
.footer {
    background-color: #121f27;
    color: #6191a8;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}


/* BOTÕES */
.btn-blue { 
    color: #E4EEF0; 
    background-color: #416275; 
    border-color: #121F27; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
    color: #E4EEF0; 
    background-color: #BBCFDA; 
    border-color: #121F27; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
    background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
    background-color: #416275; 
    border-color: #121F27; 
} 
 
.btn-blue .badge { 
    color: #416275; 
    background-color: #E4EEF0; 
}

/* LISTGROUP */

.list-group-item {
    color: #E4EEF0 !important;
    background-color: #416275;
    border-color: #121F27;
}

    .list-group-item:hover {
        background-color: #BBCFDA !important;
    }

/* CAROUSEL */
.carousel-center-60{
    width: 80%;
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    width: 100%;
    margin: auto;
}