﻿@model ProjetoEmpresaDasAguasAspNet.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9"><h2>@ViewBag.Title</h2></div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <div>
            <h4>Cliente</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Morada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Morada)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CodPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CodPostal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nif)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nif)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.IdCliente }, htmlAttributes: new { @class = "btn btn-blue" })
            @Html.ActionLink("Consumos deste cliente", "Index", "Consumos", new { searchClient = Model.IdCliente }, htmlAttributes: new { @class = "btn btn-blue" })
            @Html.ActionLink("Faturas deste cliente", "Index", "Faturas" , new { searchClient = Model.IdCliente }, htmlAttributes: new { @class = "btn btn-blue" })
            @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-blue" })
        </p>
    </div>
</div>