﻿@model IEnumerable<ProjetoEmpresaDasAguasAspNet.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
        <h3 class="text-danger">@ViewBag.Error</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_MenuPrivado")
    </div>
    <div class="col-md-9">
        <p>
            @Html.ActionLink("Criar Novo Cliente", "Create", null, htmlAttributes: new { @class = "btn btn-blue" })
        </p>
        <table id="tabela" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdCliente }, htmlAttributes: new { @class = "btn btn-blue" })
                            @Html.ActionLink("Detalhes", "Details", new { id = item.IdCliente }, htmlAttributes: new { @class = "btn btn-blue" })
                            @Html.ActionLink("Apagar", "Delete", new { id = item.IdCliente }, htmlAttributes: new { @class = "btn btn-blue" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [2] }
            ]
        });
    });
</script>

